.private-message-form-wrapper {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-51%);
	width: 60%;
	background: rgb(249, 249, 249);
	box-sizing: border-box;
	border-radius: 12px;
	padding: 8px 35px 8px 16px;
}

.message-input {
	width: 100%;
	background: inherit;
	border: none;
	font-size: 1.2em;
}
