.channel-box {
	position: relative;
}

.button-container {
	position: sticky;
	top: 0;
	z-index: 1;
  }

.message-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 5px;
  }
  

  .sender-name {
	font-size: 0.7em;
	font-weight: bold;
  }

  .sender-name::after {
	content: ": ";
  }

  .buttonuser {
	position: absolute;
	top: 10px;  
	right: 10px;  
	padding: 8px;
	border-radius: 100px;
	background-color: white;
	border: none;
}

.buttonuser:hover {
    background-color: #008080;
	color: white;
	border: none;
}

  .message-content {
	word-break: break-word;
	overflow-wrap: break-word;
  }

  .message {
	position: relative;
	padding-top: 20px;
	  max-width: 60%;
	  line-height: 1.5;
	  margin: 5px;
	  padding: 10px;
	  border-radius: 15px;
	  font-size: 1em;
  }
  
  .message.sent {
	  align-self: flex-end;
	  background-color: #0b93f6;
	  color: white;
  }
  
  .message.received {
	  align-self: flex-start;
	  background-color: #e5e5ea;
	  color: black;
  }

  .chat-box {
	padding-top: 50px;
	padding-bottom: 55px;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; /* Firefox */
  }

  .chat-box::-webkit-scrollbar {
	display: none;  /* Chrome, Safari and Opera */
  }
